<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.isoron.uhabits"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="8"
    android:versionName="1.1.1">

    <uses-permission
        android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.activeandroid.app.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_activity_title"
        android:theme="@style/AppBaseTheme"
        android:allowBackup="true"
        android:backupAgent=".HabitsBackupAgent">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="uhabits.db"/>

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="11"/>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI6aeWncbnMNo8E5GWeZ44dlc5cQ7tCROwFhOtiw" />

        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity_title">
            <intent-filter
                android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".HabitBroadcastReceiver" />

        <activity
            android:name=".ShowHabitActivity"
            android:label="@string/title_activity_show_habit"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.isoron.uhabits.MainActivity"/>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.isoron.uhabits.MainActivity"/>
        </activity>

        <activity android:name=".IntroActivity"
                  android:label=""
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver android:name="SmallWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_widget_info" />
        </receiver>

    </application>

</manifest>
