*.ap_
*.apk
*.class
*.dex
*.iml
*.local
*.local.*
*.swp
*.trace
*~
.DS_Store
.classpath
.gradle
.idea
.project
.secret
Thumbs.db
art/
bin/
build/
captures/
docs/
gen/
../local.properties
crowdin.yaml
crowdin.yml
local
tmp/
secret/
